Import Necessary libraries

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql import DataFrameWriter
import os
import psycopg2

In [2]:
# Set Java Home
os.environ['JAVA_HOME'] = r'C:\java8'

In [3]:
# Initialise Spark Session
spark = SparkSession.builder\
         .appName("Rexhall Bank ETL")\
         .config("spark.jars", r"C:\Users\DELL\OneDrive\DATA ENGINEERING FOLDER\Rexhall Bank")\
         .getOrCreate()

In [4]:
spark

In [5]:
# Extract the data into a spark dataframe
rexhall_bank_df = spark.read.csv(r"data_set\raw_data\rexhall_bank_transactions.csv", header=True, inferSchema=True)

In [6]:
rexhall_bank_df.show(5)

+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|  3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|              NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|      675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|     4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|              NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 5 rows

In [7]:
rexhall_bank_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

Data cleaning and Transformation

Data Cleaning

In [8]:
for column in rexhall_bank_df.columns:
    print(column, "Nulls:", rexhall_bank_df.filter(rexhall_bank_df[column].isNull()).count())

Transaction_Date Nulls: 0
Amount Nulls: 0
Transaction_Type Nulls: 0
Customer_Name Nulls: 100425
Customer_Address Nulls: 100087
Customer_City Nulls: 100034
Customer_State Nulls: 100009
Customer_Country Nulls: 100672
Company Nulls: 100295
Job_Title Nulls: 99924
Email Nulls: 100043
Phone_Number Nulls: 100524
Credit_Card_Number Nulls: 100085
IBAN Nulls: 100300
Currency_Code Nulls: 99342
Random_Number Nulls: 99913
Category Nulls: 100332
Group Nulls: 100209
Is_Active Nulls: 100259
Last_Updated Nulls: 100321
Description Nulls: 100403
Gender Nulls: 99767
Marital_Status Nulls: 99904

In [9]:
# To known the summary statistics of the data
rexhall_bank_df.describe().show()

+-------+-----------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+-------------------+--------------------+--------------------+-------------+------------------+--------+------+---------+--------------------+------+--------------+
|summary|           Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|      Company|         Job_Title|              Email|       Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|     Random_Number|Category| Group|Is_Active|         Description|Gender|Marital_Status|
+-------+-----------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+-------------------+--------------------+--------------------+-------------+------------------+--------+------+---------+--------------------+------+--------------+
|  count|          1000000|         1000000|       899575|              899913|       899966|        899991|          899328|       899705|            900076|             899957|             899476|              899915|              899700|       900658|            900087|  899668|899791|   899741|              899597|900233|        900096|
|   mean|504.9737112199981|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL| 6.00341888622502E9|3.785330130644790...|                NULL|         NULL| 5504.445295843624|    NULL|  NULL|     NULL|                NULL|  NULL|          NULL|
| stddev|285.7997202441234|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL|2.307111981222392E9|1.247765855631418...|                NULL|         NULL|2598.1680843741237|    NULL|  NULL|     NULL|                NULL|  NULL|          NULL|
|    min|             10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan| Abbott Group|Academic librarian|aabbott@example.com|      (200)201-4254|         60400015693|GB02AAAU191993009...|          AED|            1000.0|       A|     X|       No|A American and to...|Female|      Divorced|
|    max|           1000.0|      Withdrawal|    Zoe Young|    99999 Mark Vista|  Zunigaville|       Wyoming|        Zimbabwe|Zuniga-Wilson|      Youth worker|zzuniga@example.org|         9999777682| 4999984361512569455|GB98ZZXM257326775...|          ZWD|            9999.0|       D|     Z|      Yes|Yourself young ev...| Other|        Single|
+-------+-----------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+-------------------+--------------------+--------------------+-------------+------------------+--------+------+---------+--------------------+------+--------------+

In [10]:
# Filling the missing values in the data
clean_rexhall_df = rexhall_bank_df.fillna({
    'Customer_Name': 'Unknown',
    'Customer_Address': 'Unknown',
    'Customer_State': 'Unknown',
    'Customer_City': 'Unknown',
    'Customer_Country': 'Unknown',
    'Company' : 'Unknown',
    'Job_Title': 'Unknown',
    'Email': 'Unknown',
    'Phone_Number': 'Unknown',
    'Credit_Card_Number': 0,
    'IBAN': 'Unknown',
    'Currency_Code': 'Unknown',
    'Random_Number': 0.0,
    'Category': 'Unknown',
    'Group': 'Unknown',
    'Is_Active': 'Unknown',
    'Description': 'Unknown',
    'Gender': 'Unknown',
    'Marital_Status': 'Unknown'
})

In [11]:
# drop missing values in Last_Updated column
clean_rexhall_df = clean_rexhall_df.na.drop(subset=['Last_Updated'])

In [12]:
# Confirmation
for column in clean_rexhall_df.columns:
    print(column, "Nulls:", clean_rexhall_df.filter(clean_rexhall_df[column].isNull()).count())

Transaction_Date Nulls: 0
Amount Nulls: 0
Transaction_Type Nulls: 0
Customer_Name Nulls: 0
Customer_Address Nulls: 0
Customer_City Nulls: 0
Customer_State Nulls: 0
Customer_Country Nulls: 0
Company Nulls: 0
Job_Title Nulls: 0
Email Nulls: 0
Phone_Number Nulls: 0
Credit_Card_Number Nulls: 0
IBAN Nulls: 0
Currency_Code Nulls: 0
Random_Number Nulls: 0
Category Nulls: 0
Group Nulls: 0
Is_Active Nulls: 0
Last_Updated Nulls: 0
Description Nulls: 0
Gender Nulls: 0
Marital_Status Nulls: 0

Data Transformation

In [13]:
# Creating Transaction table
transaction = clean_rexhall_df.select('Transaction_Date', 'Amount', 'Transaction_Type') \
                .withColumn('Transaction_ID', monotonically_increasing_id())\
                .select('Transaction_ID', 'Transaction_Date', 'Amount', 'Transaction_Type')

In [14]:
transaction.show(5)

+--------------+--------------------+------+----------------+
|Transaction_ID|    Transaction_Date|Amount|Transaction_Type|
+--------------+--------------------+------+----------------+
|             0|2024-03-23 15:38:...| 34.76|      Withdrawal|
|             1|2024-04-22 19:15:...|163.92|      Withdrawal|
|             2|2024-04-12 19:46:...|386.32|      Withdrawal|
|             3|2024-04-17 15:29:...|407.15|         Deposit|
|             4|2024-02-10 01:51:...|161.31|         Deposit|
+--------------+--------------------+------+----------------+
only showing top 5 rows

In [ ]:
# Customers table
customer = clean_rexhall_df.select('Customer_Name', 'Customer_Address', 'Customer_State', 'Customer_City', 'Customer_Country')\
            .withColumn('Customer_ID', monotonically_increasing_id())\
            .select('Customer_ID', 'Customer_Name', 'Customer_Address', 'Customer_State', 'Customer_City', 'Customer_Country')

In [16]:
customer.show(5)

+-----------+--------------+--------------------+--------------+------------------+--------------------+
|Customer_ID| Customer_Name|    Customer_Address|Customer_State|     Customer_City|    Customer_Country|
+-----------+--------------+--------------------+--------------+------------------+--------------------+
|          0|    James Neal|54912 Holmes Lodg...|       Florida| West Keithborough|                Togo|
|          1|   Thomas Long| 1133 Collin Passage|   Connecticut|        Joshuabury|Lao People's Demo...|
|          2|Ashley Shelton|5297 Johnson Port...|    New Jersey|       North Maria|              Bhutan|
|          3| James Rosario|56955 Moore Glens...|    New Mexico|North Michellefurt|             Iceland|
|          4|Miguel Leonard|262 Beck Expressw...| West Virginia|           Unknown|             Eritrea|
+-----------+--------------+--------------------+--------------+------------------+--------------------+
only showing top 5 rows

In [17]:
# Employee table
employee = clean_rexhall_df.select('Company', 'Job_Title', 'Email', 'Phone_Number','Gender', 'Marital_Status')\
            .withColumn('Employee_ID', monotonically_increasing_id())\
            .select('Employee_ID','Company', 'Job_Title', 'Email', 'Phone_Number','Gender', 'Marital_Status')

In [18]:
employee.show(5)

+-----------+--------------------+--------------------+--------------------+-------------------+-------+--------------+
|Employee_ID|             Company|           Job_Title|               Email|       Phone_Number| Gender|Marital_Status|
+-----------+--------------------+--------------------+--------------------+-------------------+-------+--------------+
|          0|Benson, Johnson a...|             Unknown|             Unknown|  493.720.6609x7545|  Other|      Divorced|
|          1|             Unknown|   Food technologist|michellelynch@exa...|      (497)554-3317| Female|       Married|
|          2|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|  Other|       Unknown|
|          3|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|Unknown|       Unknown|
|          4|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|            Unknown| Female|       Married|
+-----------+--------------------+--------------------+--------------------+-------------------+-------+--------------+
only showing top 5 rows

In [19]:
# Rexford Bank  fact table
fact_table = clean_rexhall_df \
    .join(transaction, ['Transaction_Date', 'Amount', 'Transaction_Type'], 'inner') \
    .join(customer, ['Customer_Name', 'Customer_Address', 'Customer_State', 'Customer_City', 'Customer_Country'], 'inner') \
    .join(employee, ['Company', 'Job_Title', 'Email', 'Phone_Number', 'Gender', 'Marital_Status'], 'inner') \
    .select('Transaction_ID', 'Customer_ID', 'Employee_ID', 'Credit_Card_Number', 'IBAN', 
            'Currency_Code', 'Random_Number', 'Category', 'Group', 'Is_Active', 
            'Description', 'Last_Updated')

In [20]:
fact_table.show(5)

+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|Transaction_ID|Customer_ID|Employee_ID| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|         Description|        Last_Updated|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|   17179921196|17179921196|17179921196|4131053293826613966|GB78CKOS832138470...|          GNF|       7475.0|       B|    Z|      Yes|Health sure story...|2022-02-06 23:35:...|
|         29992|      29992|      29992|   2452924189738024|GB50ZGVC717046003...|          TRY|       9153.0|       D|    Z|       No|Wait represent ge...|2021-11-26 08:47:...|
|   25769840960|25769840960|25769840960|   4625846628264239|GB97NDWP370396356...|          BSD|       6117.0| Unknown|    X|      Yes|Onto give past no...|2023-02-14 08:41:...|
|   60129626495|60129626495|60129626495|                  0|GB11VVRM027865406...|      Unknown|       6669.0|       C|    X|       No|Teach military ev...|2022-04-13 17:22:...|
|        103516|     103516|     103516|     30167114834907|GB09TXTK261344054...|          PHP|          0.0|       C|    Z|      Yes|Sport internation...|2022-11-03 23:14:...|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
only showing top 5 rows

Converting from spark dataframe to pandas dataframe

In [ ]:

customer_pd = customer.toPandas()
transaction_pd = transaction.toPandas()
employee_pd = employee.toPandas()
fact_table_pd = fact_table.toPandas()

Saving the data to a csv file

In [54]:
# Writing the data to a csv file
customer_pd.to_csv('data_set/cleaned_data/customer.csv', index=False)
transaction_pd.to_csv('data_set/cleaned_data/transaction.csv', index=False)
employee_pd.to_csv('data_set/cleaned_data/employee.csv', index=False)
fact_table_pd.to_csv('data_set/cleaned_data/fact_table.csv', index=False)

Loading the data into a postgres database

In [ ]:
# Importing the necessary libraries
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import os

In [ ]:
# Loading the environment variables
load_dotenv(override=True)
db_user = os.getenv('DB_USER')
db_name = os.getenv('DB_NAME')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_password = os.getenv('DB_PASSWORD')

In [ ]:
# Creating the database url
database_url = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(database_url)

In [59]:
# Loading the data into a postgres database
customer_pd.to_sql('customer', engine, if_exists='replace', index=False)
transaction_pd.to_sql('transaction', engine, if_exists='replace', index=False)
employee_pd.to_sql('employee', engine, if_exists='replace', index=False)
fact_table_pd.to_sql('fact_table', engine, if_exists='replace', index=False)
print("Data loaded successfully")

Data loaded successfully